

div {
    
    margin : 0;
    padding: 0px;

}

.uiContainerPane {

}

.spacer {
    clear:both;
    height:0;
    width:0;
    margin:0;
    padding:0;
    
    font-size:0px;
}

.uiContainerPaneV .uiContainerPane {
    float   : none;
}

.uiContainerPaneH .uiContainerPane{
    display: inline;
    float   : left;
}

.uiContainerPaneS {

}

.uiContainerPaneS .uiContainerPane{
    display: inline;
    float   : left;
}

.uiContainerPaneS .uiContainerPane:hover{

}

.uiStdButton {
    background-color:  #BBBBBB;
    border : 2px outset #BBBBBB;
    height : 20px;
    
    cursor : pointer;
}

.uiStdButton .uiLabel {
    background-color:  transparent;
    text-align : center;
    width : 100%;
    cursor : pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.uiStdButton:hover {
    background-color:  #DDDDDD;
    border : 2px outset #DDDDDD;
}

.uiStdButton:active {
    background-color:  #BBBBBB;
    border : 2px inset #DDDDDD;
}


.uiStdText {
    background-color:  transparent;
    text-align : center;
    width : 100%;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}