div {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;    
    margin : 0px;
    padding: 0px;
}

.uiContainerPane {
    
}

.uiContainerColumn {
    
}

.uiContainerColumn .uiContainerPane {
    
}
  
.uiContainerRow {
    display : table;
    border-collapse:  collapse;
}

.uiContainerRow .uiContainerPane{
    display: table-cell;
    vertical-align: top;
}

.uiContainerGrid{
    display :table;
    border-collapse:  collapse;
}

.uiContainerGrid .uiContainerRow{
    display :table-row;
}

.uiContainerGrid .uiContainerRow .uiContainerPane{
    display :table-cell;
}

.uiStdButton {
    background-color:  #BBBBBB;
    border : 2px outset #BBBBBB;
    height : 20px;
    cursor : pointer;
}

.uiStdButton .uiLabel {
    background-color:  transparent;
    text-align : center;
    cursor : pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.uiStdButton:hover {
    background-color:  #DDDDDD;
    border : 2px outset #DDDDDD;
}

.uiStdButton:active {
    background-color:  #BBBBBB;
    border : 2px inset #DDDDDD;
}


.uiStdText {

    background-color:  transparent;
    text-align : center;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}

.uiStdText:hover {
 
    background-color:  #f00;
    text-align : center;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}



