.board {
    background-color : #888;
    height: 100%;
    width : 100%;
}

.slot {
    background-color : #FFF;
    height: 18%;
    margin : 1%;
    width : 18%;
}

.slot:hover {
    background-color : #F55;
}

.slot_black {
    background-color : #F00;
}

.slot_white {
     background-color : #FF0;
}