.board {
    width : 300px;
    height : 300px;
}

.slot {
    background-color : transparent; 
    border :1px solid black;
}

.slot:hover {
    background-color : #F55;
}

.slot_black {
    background-color : #F00;
}

.slot_white {
     background-color : #FF0;
}